<h1>About Bookmark Zone</h1>
<p>Bookmark zone is a glorious place where you can save the bookmarks to all your favorite books. Once we go public, our shares will be common stock. In 7 years percisely, our users (which we don't have yet) will be able to purchase stock. And while it is worth nothing now, years from now, perhaps, it will be worth something. The founding equity will cascade as new founders are included.</p>
